@import url('https://fonts.googleapis.com/css?family=Numans');

html,
body {
    background-image: url('login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    align-content: center;
}

.card {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.55);
}

.card-header h3 {
    color: white;

}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0;
}

input:focus {
    outline: 0 0 0 0;
    box-shadow: 0 0 0 0;
}


.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.card-body {
    margin: auto;
}

#g-sign-up {

    font-size: medium;

}